.top-block{
  margin-bottom: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}

mat-card{
  margin-top:5px;
}
h4{
  margin-top: 17px;
}
.talks-card{
  display: flex;
}
.talks-card div {
  align-items:center;
}
.rating-left{
  margin-left: 20px;
  margin-right: 35px;
}
.rating-right{

}
.rating-right p{
  font-size: 12px;
}