<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="top-block">
  <h2>Tech Talks</h2>

 <app-filter (notify)='onNotify($event)'></app-filter>
 <!-- {{sometext}} -->
</mat-card>

 <mat-card *ngFor='let item of items' class="talks-card">
  <div class="rating-left">
    <p>Rating</p>
    <p><b>{{item.rating}}</b></p>
  </div>
  <div class="rating-right">
    <h4><a>{{item.title}}</a></h4>
    <p>{{item.speaker}}</p>
    <p>{{item.description}}</p>
  </div>    
</mat-card>
